/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// styles.scss

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #f2f2f2;
    
}

.hero-section{
  background-image: url('assets/bookstore.jpg');
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mx-2
{
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}


